*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  border: 1px solid transparent;
  vertical-align: middle;
}

.btn--rose {
  background: #F1CDB3;
  border-radius: 100px;
  padding: 15px 45px;
  font-family: "Georgia", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 6%;
  color: #292929;
}

.first-screen {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.page-header {
  padding-top: 60px;
}

.page-header__wrapper,
.promo-block__wrapper,
.about__wrapper,
.our-friends__wrapper,
.help__wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo__link {
  display: inline-block;
  font-family: "Georgia", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 6%;
  color: #F1CDB3;
}

.logo__info {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 10%;
  color: #FFFFFF;
}

.main-nav {
  width: 445px;
}

.main-nav__list {
  width: 100%;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-nav__link {
  display: inline-block;
  color: #FAFAFA;
}

.main-nav__link--active {
  border-bottom: 3px solid #F1CDB3;
}

.promo-block__wrapper {
  align-items: flex-end;
}

.promo-block__info {
  padding-top: 230px;
  padding-bottom: 240px;
}

.promo-block__slogan {
  width: 310px;
  padding-bottom: 49px;
  font-family: "Georgia", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}

.promo-block__text {
  width: 460px;
  margin-bottom: 40px;
  color: #CDCDCD;
}

.promo-block__image {
  margin-bottom: -7px;
}

.about {
  padding-top: 95px;
  padding-bottom: 100px;
}

.about__wrapper {
  justify-content: center;
}

.about__right-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  width: 300px;
  font-family: "Georgia", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 6%;
  color: #545454;
}

.about__right-block {
  margin-left: 120px;
}

.about__text {
  width: 430px;
}

.our-friends {
  position: relative;
  background-color: #F6F6F6;
  padding-top: 80px;
  padding-bottom: 100px;
}

.our-friends__wrapper {
  display: flex;
  flex-direction: column;
}

.our-friends__title {
  width: 400px;
  margin: 0 auto;
  padding-bottom: 60px;
  text-align: center;
}

.our-friends__list {
  width: 970px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.our-friends__list--inner {
  width: 1170px;
  margin: 0 auto;
}

.our-friends__item {
  width: 270px;
  background-color: #FAFAFA;
  text-align: center;
  padding: 30px 35px;
  padding-bottom: 34px;
  margin-bottom: 34px;
}

.our-friends__item:focus,
.our-friends__item:hover {
  outline: none;
  box-shadow: 0 5px 15px 5px #ccced3;
}

.our-friends__name {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 6%;
  color: #545454;
}

.our-friends__learn-more {
  display: inline-block;
  padding: 15px 45px;
  font-family: "Georgia", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 6%;
  color: #292929;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
}

.our-friends__link {
  display: inline-block;
  margin: 0 auto;
}

.our-friends__buttons {
  width: 1200px;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-friends__button {
  width: 52px;
  height: 52px;
  font-size: 0;
  background-color: transparent;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 14px auto;
  background-position: center;
}

.our-friends__button--left {
  background-image: url("../../assets/images/arrow-left.png");
}

.our-friends__button--right {
  background-image: url("../../assets/images/arrow-right.png");
}

.help {
  padding-top: 79px;
  padding-bottom: 101px;
}

.help__wrapper {
  flex-direction: column;
}

.help__title {
  width: 304px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}

.help__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.help__item {
  width: 170px;
  text-align: center;
  margin: 0 15px;
  margin-bottom: 60px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.help__item p {
  font-family: "Georgia", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 6%;
  color: #545454;
}